:root {
    --bg-color: #121212;
    --bg-nav-color: #ffff;
    --font-size: 600 1rem/1.2rem "Sora";
    --font-size-h1: 600 1.5rem/1.2rem "Sora";
    --font-color: #ffff;
    --font-secund-color: #fbc02d;
}